################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter2/Chapter2/Debug
/Chapter2/.vs/Chapter2/v16
/Chapter2/Debug
/.vs
/Chapter3/.vs/Chapter3/v16
/Chapter3/Chapter3/Debug
/Chapter3/Debug
